.empdiv {
  background-color: rgb(174, 197, 201);
  height: 50px;
  width: 1000px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(155, 211, 218);
  box-shadow: 5px;
  box-shadow: 0px 4px 8px rgb(119, 198, 198);
  margin-top: 5px;
  padding-top: 20px;
 
}

.checkbox {
  padding-right: 30px;
}
img{
    height: 30px;
    width: 25px;
}
.image {
  padding-right: 20px;
  padding-top: 0px;
}
.name {
  padding-right: 190px;
  height: 40px;
  width:70px;
  display: flex;
  flex-direction: column;
}
.designation {
  /* padding-right: 50px; */
  height: 40px;
  width:70px;
}
.edit {
  padding-left:550px;
  height: 40px;
  width:70px;
}
